<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                width: 1000,
                height: 500,
                label: 'Transaction History',
                data: [
                    {
                        label: 'Transaction History',
                        dataPoints: [
                            { x: 10, y: 50 },
                            { x: 20, y: 40 },
                            { x: 30, y: 30 },
                            { x: 40, y: 80 },
                            { x: 50, y: 20 },
                            { x: 60, y: 5 },
                            { x: 70, y: 60 },
                            { x: 80, y: 75 },
                            { x: 90, y: 35 }
                        ]
                    }
                ]
            });

            chart.render();
        }
    </script>
    <script src="~/assets/js/Chart.bundle.js"></script>
    @*<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>*@
</head>
<body>
    <div id="chartContainer" style="height:300px">
    </div>
</body>
</html>