<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>My Mint - Change Password</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/Mint_Leaf.png">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-left" style="background:white !important">
                        <img class="img-fluid" src="~/assets/img/MyMint_Logo.png" alt="Logo">
                        @*<img style="height:65% !important" class="img-fluid" src="~/assets/img/logonew.png" alt="Logo">*@

                    </div>
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Change Password</h1>
                            @if (ViewBag.error != null)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    @ViewBag.error
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            }
                            @using (Html.BeginForm("ChangePasswordnew", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <form>
                                    <input hidden name="ActivationCode" value="@ViewBag.ActivationCode"/>
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input class="form-control" type="password" placeholder="New Password" name="newPassword" id="newPassword" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input class="form-control" type="password" placeholder="Confirm New Password" name="confirm_password" id="confirm_password" required>
                                        <span id='message'></span>
                                    </div>
                                    <div class="form-group">
                                        <button style="        background-color: #8dc745 !important;
        border: 1px solid #8dc745
"  class="btn btn-primary btn-block" type="submit"  id="Register">Save Changes</button>
                                    </div>
                                </form>
                            }
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    
    <script type="text/javascript">
        $('#newPassword, #confirm_password').on('keyup', function () {
            if ($('#newPassword').val() == $('#confirm_password').val()) {
                $('#message').html('Matching').css('color', 'white');
                document.getElementById("Register").disabled = false;
            } else {
                $('#message').html('Not Matching').css('color', 'red');
                document.getElementById("Register").disabled = true;
            }
        });
    </script>
</body>
</html>